<!DOCTYPE html>
<html>
<head>
  <title>Places</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">

<header>
</header>

<nav>
	<%= link_to 'Home', { :controller => 'pages', :action => 'home' } %>
	<%= link_to 'About', { :controller => 'pages', :action => 'about' } %>
	<%= link_to 'Places', { :controller => 'places', :action => 'index' } %>
</nav>

<%= yield %>

<footer>
</footer>

</div>

</body>
</html>
